<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>ブロックチェーンマンション</mat-card-title>
    <mat-card-subtitle>東京都特別区</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.gyazo.com/6cbfcb074a8aaaab55f6bb5e808eebba.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" routerLink="/entry">申込む</button>
  </mat-card-actions>
</mat-card>
